html {
  scroll-behavior: smooth;
}

body {
  padding-bottom: 3rem;
  color: #5a5a5a;
}

.carousel {
  margin-bottom: 4rem;
}

.carousel-caption {
  bottom: 3rem;
  z-index: 10;
  color: black;
}

.carousel-item {
  height: 32rem;
}

.carousel-item>img {
  min-width: 100%;
  height: 100%;
  position: initial;
  align-items: center;
  opacity: 60%;
}

.featurette-divider {
  margin: 5rem 0;
}

.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -.05rem;
}

.media img {
  height: auto;
  transform: scale(1, 1);
  transition-duration: 2000ms;
  transition-timing-function: ease-out;
  width: 15rem;
}